The following are the instructions and my answers to the project. The contents of the files in this folder have been edited for security reasons, to prevent cheating/copying, and to clarify various aspects of the directory.

### 1. Identify a predictive research question
*Does the number of high-value/recognizable players (determined as players paid within the top 5% of salaries) generate more revenue for teams in the NBA?*

`More info on the thought process behind the question can be found in the word document included in the submitted folder`

### 2. Select an existing dataset (you should not run an experiment or generate new data).
`I used two sources to provide the data. The links to and details about how I collected and organized the data can be found in the word document included in the submitted folder`

### 3. Found in this directory: the five general steps of data analytics using Python:
- Import
- Explore (i.e.,Exploratory Data Analysis)
- Manipulate (i.e., pre-processing)
- Analyze
    - Select and run three (3) to five (5) unique, appropriate algorithms from Predictive Analytics and Machine Learning (ML) that we have learned in the course. This should include an evaluation of the models and error metrics.
- Visualize (though you may need to iterate at each step and/or back-track to previous steps).

### 4. Communicate your insights (i.e., findings, conclusions)
`See Write-Up.md for details`

# 1. Import

In [1]:
#Importing packages
import numpy as np
import pandas as pd

In [2]:
#Importing Data Files
dfTeamRev = pd.read_csv('CSV Data/TeamRev.csv')
dfUncleanSalaries = pd.read_csv('CSV data/Unclean Initial Salary Data.csv')
dfNumPlayersByYear = pd.read_csv('CSV data/Number Of Players By Year.csv')

# Explore

### Characteristics of Team Revenue Data

In [3]:
#Printing the head to get a quick look at the first few rows of data
print(dfTeamRev.head(5))

           Team Name   2011   2012   2013   2014   2015   2016   2017   2018  \
0      Atlanta Hawks  $109    $99   $119   $133   $142   $169   $209   $215
1     Boston Celtics  $146   $143   $169   $173   $181   $200   $257   $287
2      Brooklyn Nets   $89    $84   $190   $212   $220   $223   $273   $290
3  Charlotte Hornets  $101    $93   $115   $130   $142   $158   $202   $213
4      Chicago Bulls  $185   $162   $195   $201   $228   $232   $281   $287

    2019   2020   2021
0  $251   $222   $199
1  $304   $274   $211
2  $304   $280   $212
3  $240   $215   $183
4  $301   $300   $213

In [4]:
#Printing the dataframe info
print(dfTeamRev.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Team Name  30 non-null     object
 1   2011       30 non-null     object
 2   2012       30 non-null     object
 3   2013       30 non-null     object
 4   2014       30 non-null     object
 5   2015       30 non-null     object
 6   2016       30 non-null     object
 7   2017       30 non-null     object
 8   2018       30 non-null     object
 9   2019       30 non-null     object
 10  2020       30 non-null     object
 11  2021       30 non-null     object
dtypes: object(12)
memory usage: 2.9+ KB
None

In [5]:
#Printing dataframe description info
print(dfTeamRev.describe())

            Team Name   2011  2012   2013   2014   2015   2016   2017   2018  \
count              30     30    30     30     30     30     30     30     30
unique             30     26    25     27     27     24     26     25     24
top     Atlanta Hawks  $109   $96   $115   $168   $142   $155   $202   $287
freq                1      3     3      2      2      3      2      2      3

         2019   2020   2021
count      30     30     30
unique     26     28     24
top     $224   $222   $199
freq        2      2      2

### Characteristics of Player Salary Info

In [6]:
#Printing the head to get a quick look at the first few rows of data
print(dfUncleanSalaries.head(5))

   Rank                   Name                   Team        Salary  \
0     1      Stephen Curry, PG  Golden State Warriors  $43,006,362
1     2         Chris Paul, PG           Phoenix Suns  $41,358,814
2     3  Russell Westbrook, PG     Washington Wizards  $41,358,814
3     4       James Harden, SG          Brooklyn Nets  $41,254,920
4     5          John Wall, PG        Houston Rockets  $41,254,920

   Unnamed: 4  Rank.1                 Name.1                 Team.1  \
0         NaN       1      Stephen Curry, PG  Golden State Warriors
1         NaN       2         Chris Paul, PG  Oklahoma City Thunder
2         NaN       3  Russell Westbrook, PG        Houston Rockets
3         NaN       4       Kevin Durant, PF           Phoenix Suns
4         NaN       5       James Harden, SG        Houston Rockets

       Salary.1  Unnamed: 9  ...  Unnamed: 49 Rank.10            Name.10  \
0  $40,231,758          NaN  ...          NaN       1    Kobe Bryant, SF
1  $38,506,482          NaN  ...          NaN       2  Rashard Lewis, PF
2  $38,506,482          NaN  ...          NaN       3      Tim Duncan, C
3  $38,199,000          NaN  ...          NaN       4  Kevin Garnett, PF
4  $38,199,000          NaN  ...          NaN       5   Michael Redd, SG

              Team.10     Salary.10  Unnamed: 54 Unnamed: 55 Unnamed: 56  \
0  Los Angeles Lakers  $24,806,250           NaN         NaN         NaN
1  Washington Wizards  $19,573,711           NaN         NaN         NaN
2   San Antonio Spurs  $18,835,381           NaN         NaN         NaN
3      Boston Celtics  $18,832,044           NaN         NaN         NaN
4     Milwaukee Bucks  $18,300,000           NaN         NaN         NaN

  Unnamed: 57  Unnamed: 58
0         NaN          NaN
1         NaN          NaN
2         NaN          NaN
3         NaN          NaN
4         NaN          NaN

[5 rows x 59 columns]

In [7]:
#Printing the dataframe info
print(dfUncleanSalaries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 59 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         40 non-null     int64
 1   Name         40 non-null     object
 2   Team         40 non-null     object
 3   Salary       40 non-null     object
 4   Unnamed: 4   0 non-null      float64
 5   Rank.1       40 non-null     int64
 6   Name.1       40 non-null     object
 7   Team.1       40 non-null     object
 8   Salary.1     40 non-null     object
 9   Unnamed: 9   0 non-null      float64
 10  Rank.2       40 non-null     int64
 11  Name.2       40 non-null     object
 12  Team.2       40 non-null     object
 13  Salary.2     40 non-null     object
 14  Unnamed: 14  0 non-null      float64
 15  Rank.3       40 non-null     int64
 16  Name.3       40 non-null     object
 17  Team.3       40 non-null     object
 18  Salary.3     40 non-null     object
 19  Unnamed: 19  0 non-null      float64
 20  Rank.4       40 non-null     int64
 21  Name.4       40 non-null     object
 22  Team.4       40 non-null     object
 23  Salary.4     40 non-null     object
 24  Unnamed: 24  0 non-null      float64
 25  Rank.5       40 non-null     int64
 26  Name.5       40 non-null     object
 27  Team.5       40 non-null     object
 28  Salary.5     40 non-null     object
 29  Unnamed: 29  0 non-null      float64
 30  Rank.6       40 non-null     int64
 31  Name.6       40 non-null     object
 32  Team.6       40 non-null     object
 33  Salary.6     40 non-null     object
 34  Unnamed: 34  0 non-null      float64
 35  Rank.7       40 non-null     int64
 36  Name.7       40 non-null     object
 37  Team.7       40 non-null     object
 38  Salary.7     40 non-null     object
 39  Unnamed: 39  0 non-null      float64
 40  Rank.8       40 non-null     int64
 41  Name.8       40 non-null     object
 42  Team.8       40 non-null     object
 43  Salary.8     40 non-null     object
 44  Unnamed: 44  0 non-null      float64
 45  Rank.9       40 non-null     int64
 46  Name.9       40 non-null     object
 47  Team.9       40 non-null     object
 48  Salary.9     40 non-null     object
 49  Unnamed: 49  0 non-null      float64
 50  Rank.10      40 non-null     int64
 51  Name.10      40 non-null     object
 52  Team.10      40 non-null     object
 53  Salary.10    40 non-null     object
 54  Unnamed: 54  0 non-null      float64
 55  Unnamed: 55  0 non-null      float64
 56  Unnamed: 56  0 non-null      float64
 57  Unnamed: 57  0 non-null      float64
 58  Unnamed: 58  0 non-null      float64
dtypes: float64(15), int64(11), object(33)
memory usage: 18.6+ KB
None

In [8]:
#Printing dataframe description info
print(dfUncleanSalaries.describe())

            Rank  Unnamed: 4     Rank.1  Unnamed: 9     Rank.2  Unnamed: 14  \
count  40.000000         0.0  40.000000         0.0  40.000000          0.0
mean   20.500000         NaN  20.500000         NaN  20.500000          NaN
std    11.690452         NaN  11.690452         NaN  11.690452          NaN
min     1.000000         NaN   1.000000         NaN   1.000000          NaN
25%    10.750000         NaN  10.750000         NaN  10.750000          NaN
50%    20.500000         NaN  20.500000         NaN  20.500000          NaN
75%    30.250000         NaN  30.250000         NaN  30.250000          NaN
max    40.000000         NaN  40.000000         NaN  40.000000          NaN

          Rank.3  Unnamed: 19     Rank.4  Unnamed: 24  ...     Rank.8  \
count  40.000000          0.0  40.000000          0.0  ...  40.000000
mean   20.500000          NaN  20.500000          NaN  ...  20.500000
std    11.690452          NaN  11.690452          NaN  ...  11.690452
min     1.000000          NaN   1.000000          NaN  ...   1.000000
25%    10.750000          NaN  10.750000          NaN  ...  10.750000
50%    20.500000          NaN  20.500000          NaN  ...  20.500000
75%    30.250000          NaN  30.250000          NaN  ...  30.250000
max    40.000000          NaN  40.000000          NaN  ...  40.000000

       Unnamed: 44     Rank.9  Unnamed: 49    Rank.10  Unnamed: 54  \
count          0.0  40.000000          0.0  40.000000          0.0
mean           NaN  20.500000          NaN  20.500000          NaN
std            NaN  11.690452          NaN  11.690452          NaN
min            NaN   1.000000          NaN   1.000000          NaN
25%            NaN  10.750000          NaN  10.750000          NaN
50%            NaN  20.500000          NaN  20.500000          NaN
75%            NaN  30.250000          NaN  30.250000          NaN
max            NaN  40.000000          NaN  40.000000          NaN

       Unnamed: 55  Unnamed: 56  Unnamed: 57  Unnamed: 58
count          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN

[8 rows x 26 columns]

### Characteristics of Number of Players Per Year

In [9]:
#Printing the head to get a quick look at the first few rows of data
print(dfNumPlayersByYear.head(5))

   Year  Total Number of Players
0  2021                      564
1  2020                      526
2  2019                      499
3  2018                      589
4  2017                      582

In [10]:
#Printing the dataframe info
print(dfNumPlayersByYear.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     11 non-null     int64
 1   Total Number of Players  11 non-null     int64
dtypes: int64(2)
memory usage: 304.0 bytes
None

In [11]:
#Printing dataframe description info
print(dfNumPlayersByYear.describe())

              Year  Total Number of Players
count    11.000000                11.000000
mean   2016.000000               550.636364
std       3.316625                69.038066
min    2011.000000               426.000000
25%    2013.500000               514.500000
50%    2016.000000               538.000000
75%    2018.500000               585.500000
max    2021.000000               690.000000

# Manipulate

**Part 1: Cleaning Player Salary Data**<br>
`As we can see by the weird column titles, multitude of NAN's, and other oddities, the data from Player Salary is not clean data. As mentioned in the word doc, this is because I stitched the data together because the data was not downloadable nor on the same page. In addition, the data is not in a usable format to use for my project. So, I am going to create a completely new dataframe and reorganize the data. While I could have edited the data in excel, I chose not to so I could display python knowledge`

**Making My Own Data Frame:**
What I need:
> a dataframe with the year, rank, name, team, and salary

What I have:
> a dataframe with the rank, name, and team columns, where each year's data is a new collection of those three columns. This results in 36 columns (3 identical column names x 12 years), with additional empty columns used as spacers. Also note, the year of each collection of columns in not explicit; it is in a separate file

What I need to do:
> combine the similar columns into one column joined on by year. The result will be 4 columns with the year column having the same value 40 consecutive times before changing to the next value and repeating the pattern

In [172]:
#Coding details of remaking the data to fit our need
#I want to remove the position of each player, which is integrated as part of the name field
#I will combine all similar columns from each year into one series. Since the name of the first
    #column doesn't follow the pattern of the other 10, I will append it individually. Then, I will append the
    #other lists iteratively by incrementing the number to the end of the column name
    

#list of years following the order in dfUncleanSalaries data. This was taken from numPlayersByYear data
listOfYears = dfNumPlayersByYear['Year']    

#lists of all similar columns
yearListForDataFrame = []
rankListForDataFrame = []
nameListForDataFrame = []
teamListForDataFrame = []
salaryListForDataFrame = []

#individually adding first column
for i in range(len(dfUncleanSalaries['Rank'])):
    #if clause ensures that I only take the top 5% of salaries from the total number of players that year
    if(dfUncleanSalaries.loc[i,'Rank'] <= 0.05*int(dfNumPlayersByYear.
                                                   loc[dfNumPlayersByYear['Year'] == 2011]['Total Number of Players'])  ):
        yearListForDataFrame.append(listOfYears[0])
        rankListForDataFrame.append(dfUncleanSalaries.loc[i,'Rank'])
        nameListForDataFrame.append(dfUncleanSalaries.loc[i,'Name'])
        teamListForDataFrame.append(dfUncleanSalaries.loc[i,'Team'])
        salaryListForDataFrame.append(dfUncleanSalaries.loc[i,'Salary'])


colNamesStr = ["Rank.", "Name.", "Team.", "Salary."]
for i in range(10):
    for j in colNamesStr:
        s = j + str(i+1)
        for k in range(len(dfUncleanSalaries['Rank'])):
            #if clause ensures that I only take the top 5% of salaries from the total number of players that year
            if(dfUncleanSalaries.loc[k, 'Rank'] <= 0.05*
               int(dfNumPlayersByYear.loc[dfNumPlayersByYear['Year'] == 2012+i]['Total Number of Players'])  ):
                
                yearListForDataFrame.append(listOfYears[i+1])
                rankListForDataFrame.append(dfUncleanSalaries.loc[k,'Rank'])
                nameListForDataFrame.append(dfUncleanSalaries.loc[k,'Name'])
                teamListForDataFrame.append(dfUncleanSalaries.loc[k,'Team'])
                salaryListForDataFrame.append(dfUncleanSalaries.loc[k,'Salary'])

tempNameList = []
for i in nameListForDataFrame:
    #removing the position from the name
    newName = ""
    #for every character in the dfUncleanSalaries name, if it == ',', stop adding chars to newName
    for c in i:
        if(c == ','):
            break
        else:
            newName += c
    tempNameList.append(newName)

nameListForDataFrame = tempNameList
#iteratively adding the rest of the columns

In [151]:
#Coding details of remaking the data to fit our need
#I want to remove the position of each player, which is integrated as part of the name field
#I will combine all similar columns from each year into one series. Since the name of the first
    #column doesn't follow the pattern of the other 10, I will append it individually. Then, I will append the
    #other lists iteratively by incrementing the number to the end of the column name
    

    
#list of years following the order in dfUncleanSalaries data. This was taken from numPlayersByYear data
listOfYears = dfNumPlayersByYear['Year']    

#lists of all similar columns
yearListForDataFrame = []
rankListForDataFrame = []
nameListForDataFrame = []
teamListForDataFrame = []
salaryListForDataFrame = []

#CREATING RANK SERIES
#individually adding first column
for i in dfUncleanSalaries['Rank']:
    #if clause ensures that I only take the top 5% of salaries from the total number of players that year
    if(i <= 0.05*int(dfNumPlayersByYear.loc[dfNumPlayersByYear['Year'] == 2011]['Total Number of Players'])  ):
        rankListForDataFrame.append(i)
        #teamListForDataFrame.append(dfUncleanSalaries[dfUncleanSalaries['Year'] == 2011]['Team'])
        print(dfUncleanSalaries.loc[0, 'Team'])
#iteratively adding the rest of the columns
for i in range(10):
    s = "Rank." + str(i+1)
    for j in dfUncleanSalaries[s]:
        #if clause ensures that I only take the top 5% of salaries from the total number of players that year
        if(j <= 0.05*int(dfNumPlayersByYear.loc[dfNumPlayersByYear['Year'] == 2012+i]['Total Number of Players'])  ):
            rankListForDataFrame.append(j)

#CREATING YEAR SERIES: creating a list of years that is that matches the length of the other data
for i in listOfYears:
    for j in range(len(dfUncleanSalaries['Rank'])):
        yearListForDataFrame.append(i)

#CREATING TEAM SERIES
#individually adding first column
for i in dfUncleanSalaries['Team']:
    teamListForDataFrame.append(i)
#iteratively adding the rest of the columns
for i in range(10):
    s = "Team." + str(i+1)
    for j in dfUncleanSalaries[s]:
        teamListForDataFrame.append(j)

#CREATING RANK SERIES
#individually adding first column
for i in dfUncleanSalaries['Salary']:
    salaryListForDataFrame.append(i)
#iteratively adding the rest of the columns
for i in range(10):
    s = "Salary." + str(i+1)
    for j in dfUncleanSalaries[s]:
        salaryListForDataFrame.append(j)

        
#CREATING NAME SERIES
#individually adding first column
for i in dfUncleanSalaries['Name']:
    #removing the position from the name
    newName = ""
    #for every character in the dfUncleanSalaries name, if it == ',', stop adding chars to newName
    for c in i:
        if(c == ','):
            break
        else:
            newName += c
    nameListForDataFrame.append(newName)
#iteratively adding the rest of the columns
for i in range(10):
    s = "Name." + str(i+1)
    for j in dfUncleanSalaries[s]:
        #removing the position from the name
        newName = ""
        #for every character in the dfUncleanSalaries name, if it == ',', stop adding chars to newName
        for c in j:
            if(c == ','):
                break
            else:
                newName += c
        nameListForDataFrame.append(newName)

Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors
Golden State Warriors

In [173]:
#Building New DataFrame
#matching lists to column names
dfPlayerSalaries = pd.DataFrame({
    "Year" : yearListForDataFrame,
    "Rank" : rankListForDataFrame,
    "Name" : nameListForDataFrame,
    "Team" : teamListForDataFrame,
    "Salary": salaryListForDataFrame
})

#exploring the new data
print("Head of Data")
print(dfPlayerSalaries.head(30))
print()
print()
print("DataFrame Info")
dfPlayerSalaries.info()
print()
print()
print("DataFrame Description")
print(dfPlayerSalaries.describe())

Head of Data
    Year  Rank               Name                    Team        Salary
0   2021     1      Stephen Curry   Golden State Warriors  $43,006,362
1   2021     2         Chris Paul            Phoenix Suns  $41,358,814
2   2021     3  Russell Westbrook      Washington Wizards  $41,358,814
3   2021     4       James Harden           Brooklyn Nets  $41,254,920
4   2021     5          John Wall         Houston Rockets  $41,254,920
5   2021     6       Kevin Durant           Brooklyn Nets  $40,108,950
6   2021     7       LeBron James      Los Angeles Lakers  $39,219,565
7   2021     8        Paul George             LA Clippers  $35,450,412
8   2021     9      Klay Thompson   Golden State Warriors  $35,361,360
9   2021    10        Mike Conley               Utah Jazz  $34,502,130
10  2021    11       Jimmy Butler              Miami Heat  $34,379,100
11  2021    12      Kawhi Leonard             LA Clippers  $34,379,100
12  2021    13       Kemba Walker          Boston Celtics  $34,379,100
13  2021    14      Tobias Harris      Philadelphia 76ers  $34,358,850
14  2021    15    Khris Middleton         Milwaukee Bucks  $33,051,724
15  2021    16      Anthony Davis      Los Angeles Lakers  $32,742,000
16  2021    17       Kyrie Irving           Brooklyn Nets  $31,742,000
17  2021    18     Damian Lillard  Portland Trail Blazers  $31,626,953
18  2021    19         Kevin Love     Cleveland Cavaliers  $31,258,256
19  2021    20      Pascal Siakam         Toronto Raptors  $30,559,200
20  2021    21        Ben Simmons      Philadelphia 76ers  $30,559,200
21  2021    22         Kyle Lowry         Toronto Raptors  $30,500,000
22  2021    23       Steven Adams    New Orleans Pelicans  $29,592,696
23  2021    24        Joel Embiid      Philadelphia 76ers  $29,542,010
24  2021    25     Andrew Wiggins   Golden State Warriors  $29,542,010
25  2021    26       Nikola Jokic          Denver Nuggets  $29,542,010
26  2020     1      Stephen Curry   Golden State Warriors  $43,006,362
27  2020     2         Chris Paul            Phoenix Suns  $41,358,814
28  2020     3  Russell Westbrook      Washington Wizards  $41,358,814
29  2020     4       James Harden           Brooklyn Nets  $41,254,920


DataFrame Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110 entries, 0 to 1109
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    1110 non-null   int64
 1   Rank    1110 non-null   int64
 2   Name    1110 non-null   object
 3   Team    1110 non-null   object
 4   Salary  1110 non-null   object
dtypes: int64(2), object(3)
memory usage: 43.5+ KB


DataFrame Description
              Year         Rank
count  1110.000000  1110.000000
mean   2015.706306    14.254955
std       3.009192     8.187878
min    2011.000000     1.000000
25%    2013.000000     7.000000
50%    2016.000000    14.000000
75%    2019.000000    21.000000
max    2021.000000    34.000000

**Part 2: Slicing and Combining Data To Create A DataFrame that answers the question**

In [103]:
count = []
for i in range(len(yearListForDataFrame)):
        count.append(0)

dfNumOfTopPlayersTemp = pd.DataFrame({
    "Year": yearListForDataFrame,
    "Team": teamListForDataFrame,
    "numHighPlayers": count    
})        

dfNumOfTopPlayers = dfNumOfTopPlayersTemp.merge(dfPlayerSalaries, how = "inner", on = ["Year", "Team"])

dfNumOfTopPlayers['Count High Value Players'] = dfNumOfTopPlayers.groupby(['Year', 'Team'])['Team'].transform('count')

print(dfNumOfTopPlayers)

     Year                Team  numHighPlayers  Rank              Name  \
0    2021      Boston Celtics               0    13      Kemba Walker
1    2021       Brooklyn Nets               0     4      James Harden
2    2021       Brooklyn Nets               0     6      Kevin Durant
3    2021       Brooklyn Nets               0    17      Kyrie Irving
4    2021   Charlotte Hornets               0    33    Gordon Hayward
..    ...                 ...             ...   ...               ...
407  2011   San Antonio Spurs               0    31       Tony Parker
408  2011   San Antonio Spurs               0    40     Manu Ginobili
409  2011           Utah Jazz               0     7  Andrei Kirilenko
410  2011           Utah Jazz               0    36      Al Jefferson
411  2011  Washington Wizards               0     2     Rashard Lewis

           Salary  Count High Value Players
0    $34,379,100                          1
1    $41,254,920                          3
2    $40,108,950                          3
3    $31,742,000                          3
4    $28,500,000                          1
..            ...                       ...
407  $13,500,000                          3
408  $11,854,584                          3
409  $17,823,000                          2
410  $13,000,000                          2
411  $19,573,711                          1

[412 rows x 7 columns]

Changing TeamRev Data

In [53]:
yearListForDataFrame = []
teamListForDataFrame = []
revListForDataFrame = []

jVal = 0
for i in dfNumPlayersByYear['Year']:
    jVal = 0
    for j in dfTeamRev['Team Name']:
        yearListForDataFrame.append(i)
        teamListForDataFrame.append(j)
        revListForDataFrame.append(dfTeamRev.loc[jVal, str(i)])
        jVal+=1

dfTeamRevenue = pd.DataFrame({
    "Team": teamListForDataFrame,
    "Year": yearListForDataFrame,
    "Revenue": revListForDataFrame   
})

print(dfTeamRevenue)

                   Team  Year Revenue
0         Atlanta Hawks  2021   $199
1        Boston Celtics  2021   $211
2         Brooklyn Nets  2021   $212
3     Charlotte Hornets  2021   $183
4         Chicago Bulls  2021   $213
..                  ...   ...     ...
325    Sacramento Kings  2011   $104
326   San Antonio Spurs  2011   $139
327     Toronto Raptors  2011   $134
328           Utah Jazz  2011   $120
329  Washington Wizards  2011   $109

[330 rows x 3 columns]

Joining Data

In [104]:
df = dfTeamRevenue.merge(dfNumOfTopPlayers, how = "inner", on = ["Year", "Team"])
print(df)

                   Team  Year Revenue  numHighPlayers  Rank              Name  \
0        Boston Celtics  2021   $211                0    13      Kemba Walker
1         Brooklyn Nets  2021   $212                0     4      James Harden
2         Brooklyn Nets  2021   $212                0     6      Kevin Durant
3         Brooklyn Nets  2021   $212                0    17      Kyrie Irving
4     Charlotte Hornets  2021   $183                0    33    Gordon Hayward
..                  ...   ...     ...             ...   ...               ...
407   San Antonio Spurs  2011   $139                0    31       Tony Parker
408   San Antonio Spurs  2011   $139                0    40     Manu Ginobili
409           Utah Jazz  2011   $120                0     7  Andrei Kirilenko
410           Utah Jazz  2011   $120                0    36      Al Jefferson
411  Washington Wizards  2011   $109                0     2     Rashard Lewis

           Salary  Count High Value Players
0    $34,379,100                          1
1    $41,254,920                          3
2    $40,108,950                          3
3    $31,742,000                          3
4    $28,500,000                          1
..            ...                       ...
407  $13,500,000                          3
408  $11,854,584                          3
409  $17,823,000                          2
410  $13,000,000                          2
411  $19,573,711                          1

[412 rows x 8 columns]